{% extends "modelo.html" %}
{% block content %}
<h1>Editar Termo</h1>
<form action="{{ url_for('editar_termo') }}" method="post">
  <div class="mb-3">
    <label for="termo_antigo" class="form-label">Termo Atual</label>
    <input class="form-control" id="termo_antigo" name="termo_antigo" required>
  </div>
  <div class="mb-3">
    <label for="termo_novo" class="form-label">Novo Termo</label>
    <input class="form-control" id="termo_novo" name="termo_novo" required>
  </div>
  <div class="mb-3">
    <label for="definicao_nova" class="form-label">Nova Definição</label>
    <textarea class="form-control" id="definicao_nova" name="definicao_nova" rows="3" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>
{% endblock %}
