{% extends "modelo.html" %}
{% block content %}
<div class="card mx-auto mt-4" style="max-width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">Marconi Aragão</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Estudante e Entusiasta em Desenvolvimento Web</h6>
    <p class="card-text">
      O projeto Pythópole foi idealizado e desenvolvido por Marconi Aragão, natural de João Pessoa, Paraíba. Marconi é estudante universitário e apaixonado por tecnologia, especialmente pelo universo do desenvolvimento web e da linguagem Python. Seu objetivo é compartilhar conhecimento e facilitar o aprendizado de programação para todos que desejam ingressar nessa área.

      Com uma abordagem prática e acessível, Marconi criou este portal para ser um ponto de partida para iniciantes e uma fonte de consulta para programadores mais experientes.

      Através do Pythópole, ele espera inspirar outros a explorarem o mundo da programação, oferecendo recursos úteis e uma comunidade colaborativa.
      
    </p>
    <p class="card-text text-muted">João Pessoa, PB &mdash; 2025</p>
  </div>
</div>
<h2>Sobre a Equipe</h2>
<p>Em breve, dicas para aprender Python de forma eficiente!</p>
<p>
  <a href="https://www.linkedin.com/in/marconiaragão" target="_blank" class="btn btn-primary me-2">
    LinkedIn
  </a>
  <a href="https://www.instagram.com/marconi.arquiteto" target="_blank" class="btn btn-primary">
    Instagram
  </a>
</p>
{% endblock %}